<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()'>
    <input type='text' name="username" ng-model='user.username' required>
    <div ng-messages="signinForm.username.$error">
      <div ng-message="required">This field is required</div>
    </div>
    <input type="password" name="password" ng-model='user.password' required>
    <div ng-messages="signinForm.password.$error">
      <div ng-message="required">This field is required</div>
    </div>  
    <button>signup</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
